body{
    background-color: darksalmon;
    color: #333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

#main{
    background-color: lightpink;
    
}

input[type="radio"]{
    margin: 0 10px 0 10px;
  }

#btn, p, .btn{
    padding: 10px;
    margin: 30px 10px 0;
}

.btn{
    font-size: 32px;
}